<div 
  class="panel panel-default">
  <div class="panel-heading">{{ element.name }}</div>
  <div class="panel-body">
    <p>
      <strong *ngIf = "element.type === 'server'" style="color: red">{{ element.content }}</strong>
      <em *ngIf = "element.type === 'blueprint'">{{ element.content }}</em>
    </p>
  </div>
</div>

<!-- I notice that we try to access the 'element', the single server element; in our TypeScript file, we create an element called 'element'
that will represent our server 
- element: {}; from the server.html, we can see the element will have a type, content and a name. 
in ts file: element: {};
-->



<!-- After exporting the info into a new component, I realzie that I will need to add the element to reach it's type, content, etc... -->