<div class="container">
  <!-- <app-cockpit (serverCreated) = "onServerAdded($event)"(bluePrintCreated) = "onBluePrintAdded($event)"></app-cockpit> -->
  <app-cockpit 
    (serverCreated) = "onServerAdded($event)"
    (bluePrintCreated) = "onBluePrintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element
        *ngFor = "let serverElement of serverElements"
        [srvElement] = "serverElement"></app-server-element>
        <!-- originally had [element] = "serverElement"></app-server-element> until learning about assignning alias to properties -->
        <!-- have to explicity tell on which properties you want exposed outside it's component, the outside world... 
        to have PARENT COMPONENTS BIND TO THIS PROPERTY, need to add a DECORATOR
        @Input() and then import at the top of app.ts
        -->
    </div>
  </div>
</div>